SUBSYSTEM=="input", KERNEL=="event*", GROUP="input", MODE="0660"
KERNEL=="uinput", SUBSYSTEM=="misc", GROUP="input", MODE="0660", OPTIONS+="static_node=uinput"
